
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Email Confirmation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/css/mdb.min.css" rel="stylesheet" />

</head>

<style type="text/css">
body{
    
    margin-top:20px;
}


.card-box .card-drop {
  color: #9a9da0;
  font-size: 20px;
  line-height: 1px;
  padding: 0px 5px;
  display: inline-block;
}

.text-muted {
    color: #9a9da0 !important;
}
.container {
    padding-left:25%;width:50%
}

</style>
<body>
    <div >
            <div class="container" >
                <div class="m-t-30 card-box" style="margin-bottom: 20px;background-clip: padding-box;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;padding: 20px;background-color: #ffffff;box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.08);">
                    <div class="text-center">
                        <h4 class="text-uppercase font-bold m-b-0" style="padding-left:40%;">Success !!</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="text-muted font-13 m-t-20" style="color: #9a9da0"> 
                            Your email <b>USER_EMAIL</b> has been verified successfully! Please click <a href="HOME_URL">here</a> to login.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>